<?xml version="1.0" encoding="UTF-8"?>
<web-app>
		<context-param>
        	<param-name>driverName</param-name>
        	<param-value>com.mysql.jdbc.Driver</param-value>
        </context-param>
        
        <context-param>
        	<param-name>dbUrl</param-name>
        	<param-value>jdbc:mysql://localhost:3306/itpmarch2025db</param-value>
        </context-param>
        
        <context-param>
        	<param-name>dbUserName</param-name>
        	<param-value>root</param-value>
        </context-param>
        
        <context-param>
        	<param-name>dbPassword</param-name>
        	<param-value></param-value>
        </context-param>
	   
    <servlet>
      <servlet-name>myadd</servlet-name>
      <jsp-file>/add.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
        <servlet-name>myadd</servlet-name>
        <url-pattern>/myadd</url-pattern>
	</servlet-mapping>
</web-app>